@font-face {
    font-family: gilroy_bold;
    src: url(fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gilroy_regular;
    src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gilroy_semibold;
    src: url(fonts/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: font1;
    src: url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
@font-face {
    font-family: font2;
    src: url(fonts/KFOmCnqEu92Fr1Mu4mxK.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy_regular;
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background-color: #111;
    padding: 0vw 14vw;
}
nav img{
    width: 3vw;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    font-family: gilroy_semibold;
}
.rightnav{
    display: flex;
    gap: 3vw;
}
.part1{
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    gap: 3vh
}
.part1 h1{
    font-size: 7vw;
    font-family: gilroy_bold;
    text-align: center;
}
 #textpart{
    text-align: center;
    justify-content: center;
    margin-top: -15vw;
}
.part1 p{
    font-size: 1.8vw;
    font-family: gilroy_bold;
    text-align: center;
    padding: 2.5vw;
}
.part1 button{
    padding: 1.3vw 4vw;
    font-size: 1.7vw;
    border-radius: 15vw;
    font-family: gilroy_bold;
    border: 1px solid #111;
    background-color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;
}
.part1 button:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}
.parttwo{
    width: 100%;
    height: 100vh;
    align-items: end;
    justify-content: center;
    background-image: url(img/video-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    overflow: hidden;
}
.parttwo img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#img3{
    position: absolute;
    bottom: -70vh;
    z-index: 5;
}
#img2,#img4{
    margin-bottom: -70vh;
    z-index: 4;
}
#img1,#img5{
    margin-bottom: -70vh;
    z-index: 3;
}
#img1{
    margin-right: -10vw;
}
#img5{
    margin-left: -10vw;
}
.part-same{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 14vw;
    color: #fff;
}
.part-same h1{
    font-size: 7vw;
    font-family: gilroy_bold;
    line-height: 13vh;
}
.part-same h2{
    font-size: 2vw;
    font-family: gilroy_bold;
    line-height: 11vh;
}
.part-same p{
    font-size: 1.3vw;
    margin-top: -2vh;
    font-family: gilroy_semibold;
    width: 60%;
}
.part-same button{
    padding: 1.3vw 4vw;
    font-size: 1.7vw;
    margin-top: 5vh;
    border-radius: 15vw;
    font-family: gilroy_bold;
    border: 1px solid #111;
    background-color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;
}
.part-same button:hover{
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}
.part3{
    background-image: url(img/deserve-more-bg.jpg);
    background-size: cover;
}
.strip{
    width: 100%;
    height: 27vh;
    background-color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 10vw;
    gap: 5vh;
}
.strip h3{
    font-size: 1.4vw;
}
.strip img{
    width: 80vw;
}
.part4{
    background-image: url(img/money-matters-bg.jpg);
    background-size: cover;
}
.part5{
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: row;
    padding: 0vw 0vw;
}
.part5-lft{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 5vw 7vw;
    position: relative;
}
.part5-lft p{
    width: 100%;
    margin-top: 4vh;
    padding: 0vw 5vw;
}
.part5-rht{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-txt{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.phone{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 23vw;
    height: 75vh;
    border-radius: 50px;
    border: 20px solid #333;
    overflow: hidden;
}
.phone-img{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left: 60vw;
    margin-top: 1%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.phone img{
    width: 20vw;
}
#scroll-1{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.3s;
}
#scroll-2,#scroll-3,#scroll-4{
    opacity: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.3s;
}
.part6{
    width: 100%;
    height: 60vh;
    background-image: url(img/neopop-image-mock.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.part7{
    background-image: url(img/security-bg.jpg);
    background-size: cover;
}
.part8{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-image: url(img/trust-bg.jpg);
    background-size: cover;
}
#left-part{
    width: 50%;
    height: 100vh;
    font-size: 2vw;
    font-family: gilroy_Bold;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}
#right-part{
    width: 50%;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    line-height: 4vh;
    gap: 8vh;
    padding: 0vw 6vw;
}
#left-part h1{
    font-family: gilroy_bold;
}
#right-part p{
    font-family: gilroy_regular;
    justify-content: center;
}
.part9{
    width: 100%;
    height: 100vh;
}
.ratings{
    width: 100%;
    height: 60vh;
    background-color: grey;
}
#left{
    width: 50%;
    height: 100%;
    background-color: black;
}